!!! info "Les champs marqués d’une astérisque (*) sont obligatoires."

{% for property_name, property_schema in schema.properties|items %}

### `{{ property_name }}`{{ ' *' if property_name in schema.required }}

{{ property_schema.description|default('', boolean=True) }}

{{ '!!! warning "Ce champ est déprécié."' if property_schema.deprecated }}

Type : `{{ get_property_type_data(property_schema).type }}`

{% set property_type_data = get_property_type_data(property_schema) %}

{% if property_type_data.format %}Format : `{{ property_type_data.format }}`{% endif %}

{% if property_type_data.regex %}Regex : `{{ property_type_data.regex }}`{% endif %}

{% if property_type_data.referentiel %}
{% set referentiel = schema.get("$defs").get(property_type_data.referentiel) %}
{% if referentiel.enum|length <= inline_referentiel_size_limit %}
Valeurs acceptées : `"{{ referentiel.enum|join('", "') }}"`
{% else %}
Valeurs acceptées : voir le [référentiel associé](referentiels/{{ enum_filenames_by_ref.get(property_type_data.referentiel) }}.md)
{% endif %}
{% endif %}

{% if property_schema.examples %}
Exemples :

```json
{% for example in property_schema.examples -%}
{{ example|tojson }}
{% endfor %}
```
{% endif %}
---
{%- endfor %}
